[submodule "themes/hugo-theme-texify"]
	path = themes/hugo-theme-texify
	url = https://github.com/queensferryme/hugo-theme-texify.git
[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even.git
[submodule "themes/hugo-theme-classic"]
	path = themes/hugo-theme-classic
	url = https://github.com/goodroot/hugo-classic.git
[submodule "themes/hugo-theme-mini"]
	path = themes/hugo-theme-mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/etch"]
	path = themes/etch
	url = git@github.com:LukasJoswiak/etch.git
