{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if .Params.date }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}
<div class="content-wrapper">
  <main>
    {{ .Content }}
    <a href="/"> >> Home</a>
  </main>
</div>
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="d83aaa01-0a86-40b7-a54e-ff7a99145f64"
  data-page-id="{{ .RelPermalink | relURL }}"
  data-page-url="{{ .RelPermalink | relURL }}"
  data-page-title="{{ .Title }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
<!-- <script async defer src="https://cdn.jsdelivr.net/npm/cusdis@latest/dist/cusdis.es.js"></script> -->
{{ partial "footer.html" . }}
